* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 212, 212);
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px black;
    background-color: black;
    padding: 0 20px;
}

.logo{
    color: white;
    cursor: pointer;
    letter-spacing: -3px;
    text-transform: lowercase;
}

.logo span:first-child {
    color: blue;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
}

.menu {
    display: flex;
    list-style: none;
   
}

.menu li {
    position: relative;
}

.menu li a {
    text-decoration: none;
    padding: 17px;
    color: white;
    font-size: 14px;
    display: block;
}

.menu li:hover {
    background-color: blue;
}

.menu li:hover > .submenu,
.submenu li:hover > .submenu {
    display: block;
}


.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 110%;
    list-style: none;
    background-color: blue;
}

.submenu li {
    position: relative;
}

.submenu li:hover {
    background: rgb(0, 0, 107);
}

.submenu li .submenu {
    position: absolute;
    top:0;
    left: 100%;
}